title: dttric/hub
baseurl: ""
domain: "silent.ctdl.run"
url: "https://silent.ctdl.run"
github_username:  dttric

# Build settings
theme: minima
plugins:
  - jekyll-feed


exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
