body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #121212;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: repeating-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0) 40px,
        rgba(255, 255, 255, 0.1) 40px,
        rgba(255, 255, 255, 0.1) 80px
    );
    background-size: 200% 200%;
    animation: move-background 20s linear infinite; 
}

@keyframes move-background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}